---
layout: default
title: Socials
description: Oratot's social media accounts, including YouTube, Reddit, Twitch, and GitHub.
keywords: Oratot, Paride, Italian, video games, tech, Minecraft, socials, YouTube, Reddit, Twitch, GitHub
custom_container: true
---

<div
  class="p-4 rounded-5 border bg-darker d-flex flex-wrap justify-content-center justify-content-md-start"
>
  <h1 class="mb-3">My Socials</h1>
  <div
    class="d-flex flex-wrap justify-content-center justify-content-md-start gap-2"
  >
    {% include card.html
    link="https://www.youtube.com/@ItzOratotITA?sub_confirmation=1"
    arialabel="Link to my YouTube channel" img="/assets/yt-logo.svg?"
    alt="YouTube Logo" text="YouTube" htype="h5" hascolor=true
    classes="text-danger" %} {% include card.html
    link="https://www.reddit.com/user/Which-Taro5092/" arialabel="Link to my
    Reddit account" img="/assets/reddit-logo.svg?" alt="Reddit Logo"
    text="Reddit" htype="h5" hascolor=true color="#ff4500" %} {% include
    card.html link="https://www.twitch.tv/oratot" arialabel="Link to my Twitch
    account" img="/assets/twitch-logo.svg?" alt="Twitch Logo" text="Twitch"
    htype="h5" hascolor=true color="#9146ff" %} {% include card.html
    link="https://github.com/itzoratotita" arialabel="Link to my GitHub account"
    img="/assets/github-logo.svg?" alt="GitHub Logo" text="GitHub" htype="h5" %}
    {% include card.html link="/discord" arialabel="Link to my Discord server"
    img="/assets/discord-logo.svg?" alt="Discord Logo" text="Discord" htype="h5"
    hascolor=true color="#5865f2" %}
  </div>
</div>
